:root{
    --gap-caixas: 5px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.cxtex1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 2px rgb(171, 169, 169) solid;
    padding: 20px;
    margin: 0 200px 50px 200px;
}

.caixa-dentro1{
    background-color: rgb(69, 106, 150);
    border: 1px solid rgb(152, 219, 245);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    list-style-type: none;
}

.caixa-dentro2{
    padding: 17px;
    font-size: 30px;
}

.caixa-a{
    color: white; 
    text-decoration: none;
}

.cxtex2{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 200px;
}

.caixa-dentro3{
    width: 50vw;
    height: 52vh;
    font-size: 25px;
    padding: 10px;
}

.cxtex3{
    display: flex;
    margin: 70px auto;
    border: 2px rgb(171, 169, 169) solid;
    align-content: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    width: 40%;
    gap: 20px;
}

.caixa-vh{
    display: flex;
    background-color: rgb(118, 116, 116);
    list-style-type: none;
    width: 7vw;
    font-size: 30px;
    color: white;
    justify-content: center;
    align-items: center;
    
}

.cxtex4{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

.cxtex5{
    display: flex;
    justify-content: center;
    margin: 100px;
}

.caixa-ul5{
    display: flex;
    flex-direction: column;
    list-style-type: none;

}

.caixa-darkcinza{
    background-color: rgb(118, 116, 116);
    width: 20vw;
    height: 10vh;
}

.caixa-cinza{
    background-color: rgb(214, 214, 214);
    width: 20vw;
    height: 60vh;
}

.cxtex6{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    background-color: rgb(118, 116, 116);
    width: 100%;
    height: 12vh;
    margin: 80px auto;
    min-width: 250px;
    padding: 0;
}

.caixa-menu{
    display: flex;
    border: 1px white solid;
    color: white;
    font-size: 20px;
    height: 50px;
    flex-basis: 100px;
    justify-content: center;
    align-items: center;

}

.footer-cx6{
    background-color: black;
    height: 15vh;
    margin: 70px auto;
}

.ul-footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 15vh;
}

.li-footer{
    align-items: center;
    display: flex;
    border:1px white solid;
    color: white;
    font-size: 20px;
    list-style-type: none;
    flex-basis: 400px;
    height: 5vh;
}


.container-flex-03{
    display: flex; 
    gap: var(--gap-caixas);
}

.cxtex7{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 60%;
}


.header-cx7{
    background-color: rgb(118, 116, 116);
    color: white;
    font-size: 20px;
    padding-left: 5px;
    margin-bottom: var(--gap-caixas);
    flex-grow: 1;
}

.cx-menu{   
    width: 40%;
    height: 60vh;
}

.div-column{
    display: flex;
    flex-direction: row;
    gap: 8px;
}